#navigation {
    display: block;
    margin: auto;
    text-align: center;
}

.nav-button{
    border-style: solid;
    padding: 3px;
    border-width: 1px;
    background-color: black;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-button:hover{
    color: black
    
}