#navigation{
    padding-left: 0;
    max-width: 757px;
    min-width: 300px;
    margin: auto;
    padding-top: 10px;
    width: 60%;
    display: flex;
}

#navigation-item{
    font-family: BN-titling-oblique;
    font-size: 40px;
    text-align: center;
    flex: 1;
    list-style-type: none;
  }

#navigation-item a{
    color: white;
    text-decoration: none;
}

#navigation-item a:hover{
    text-decoration: underline;
}

#github-logo{
    width: 40px;
}

#github-logo:hover{
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

@media only screen and (min-width: 757px){
    #navigation-item{
        font-size: 60px;
    }
}

@media only screen and (max-width: 376px){
    #navigation-item{
        flex: auto;
    }
}

@media only screen and (max-width: 300px){
    #navigation-item{
        font-size: 30px;
        /*flex: auto;*/
    }

    #github-logo{
        width: 30px;
    }

    #navigation{
            min-width: 200px;
    }
}