#content{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#app-container{
  position: absolute;
  margin-top: 10px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

